<article>
    <a href="/products/detail/<%- product.id %>"> 
        <figure>
            <img src="/images/<%= product.Images[0].name %>" alt="image Planta" class="productImage">
            <a href="#"><span class="material-symbols-outlined" id="shopProduct">shopping_bag</span></a>
        </figure>
        <div class="description"> 
            <h3 class="name"><%= product.name %></h3>
            <p class="price">$ <%= product.price %></p>
            <p class="fee">Hasta  <strong> <%= product.Fee.number %> cuotas sin interés</strong></p>
        </div>
    </a>
</article>